/* GLOBAL */
*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;

}


body{
    margin: 0%;
    padding: 0%;
    font-family: 'Open Sans', 'Areal', 'sans-serif';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    color: #444;
}

/* CONTAINER */
.container{
    width: 100%;
    max-width: 1160px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: auto;
    margin-left: auto;
}

/*  HEADER */

.site-header{
    padding-top: 24px;
    padding-bottom: 24px;
}





.site-header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*  LOGO */
.site-logo-link{
    display: flex;
    align-items: center;
    color: #222;
    text-decoration: none;
    font-family: "Open Sans", Arial, sans-serif;
    font-style: 24px;
    font-weight: 600;
}

.site-logo-link:hover{
    color: #de2e54;
}

.site-logo-link:active{
    opacity: 0.6;
}


.site-logo-img{
    margin-right: 16px;
    border-radius: 50px;
}

.site-footer-logo-link{
    color: #fff;
}

.site-footer-logo-link:active{
    color: #fff;
}


/* SITENAV */

.sitenav{
    font-family: "Open Sans", Arial, sans-serif;
    font-style: 14px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 2px;
    text-transform: uppercase;
}


.sitenav-list{
    display: flex;
    list-style: none;
}

.sitenav-item:not(:last-child){
    margin-right: 32px; 
} 

.sitenav-item-link{
    color: #222;
    text-decoration: none;
}

.sitenav-item-link:hover{
    color: #de2e54;
}

.sitenav-item-link:active{
    opacity: 0.6;
}


.enrollmen-link{
    display: inline-block;
    background-color: #de2e54;
    border: 2px solid #de2e54;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
}

.enrollment-link:hover{
    background-color:#fff;
    color: #000;
}

.enrollment-link:active{
    background-color: #de2e54;
    color: #fff;
    opacity: 0.6;
}

.enrollment--solid{
    border: 0;
    color: #fff;
}

.enrollment-link:active{
    background-color: rgba(222, 46, 84, 0, 0.80);

}

.enrollment-link-outline{
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}


.enrollment-link-outline:hover{
    background-color: #de2e54;
    background-color: transparent;
    color: #fff;
}


.enrollment--solid:hover{
    background-color: rgba(222, 46, 84, 0, 0.80);
    opacity: 1;
}

/* HERO */
.hero{
    background-color: #0eb4c1;
    color: #fff;
}
    


.hero-container{
    display: flex;
    justify-content: space-between;
}
    

.hero-content{
    width: 500px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.hero-heading{
    font-family: "Open Sans Condensed", 'Open Sans', Arial, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 16px;
}

.hero-text{
    width: 440px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 36px;
}

.hero-img{
    align-self: flex-end;
}



/*  INDEX SERVICES */
.index-services{
    padding-top: 120px;
    padding-bottom: 120px;
}

.index-services-heading{
    color: #000;
    text-align: center;
    font-family: "Open Sans Condensed", "Open Sans", Arial, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 56px;
}

.index-services-list{
    width: 864px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    margin-bottom: 60px;
    list-style: none;
}


.index-services-item{
    padding: 0;
}

.index-services-item:not(:last-child){
    margin-bottom: 80px;
}


.index-service{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.index-service-img{
    margin-right: 64px;
}

.index-service-title{
    color: #222;
    font-family: "Open Sans Condensed", "Open Sans", Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 24px;
}

.index-service-description{
    color: #444;
    font-family: "Open-sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin:0
}

.index-service-action{
    display: flex;
    justify-content: space-between;
}


/* CTA */
.cta{
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: #0eb4c1;
    color: #fff;
}


.cta-heading{
    text-align: senter;
    font-family: "Open Sans Condensed", "Open sans", Arial, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
}

.cta-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.cta-links-item:not(:last-child){
    margin-right: 40px;
}


/* SITE-FOOTER */
.site-footer{
    background-color: #222;
    padding: 24px;
    color: #fff;
}
.site-footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sitenav-footer-sitenav-link .sitenav-item-link{
    color: #fff;
}

.sitenav-footer-sitenav-link .sitenav-item-link:hover{
    color: #de2e54;
}

.sitenav-footer-sitenav-link .sitenav-item-link:active{
    color: #fff;
}